<link rel="stylesheet" href="/CSS/style.css">
<div>
    <nav class="#b0bec5 blue-grey lighten-3">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img class="responsive-img circle" src="/images/logo.jpg" style="height: 55px;">
            </a>
            <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/register">New User</a></li>
                {{!-- <li><a href="/mealplan">Meal Plans</a></li> --}}
                <li><a href="/">Live Chat</a></li>
                <li><a class="active" href="/">Log In</a></li>

            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/register">New User</a></li>
                {{!-- <li><a href="/mealplan">Meal Plans</a></li> --}}
                <li><a href="/">Live Chat</a></li>
                <li><a class="active" href="/">Log In</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="/images/background2.jpg" class="responsive-img" alt="Parallax">
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Meal Plan</h2>
        <p class="grey-text text-darken-3 lighten-3">Welcome to our Meal Plan App where you can budget your meals.</p>
        <div class="row">
            <form class="col 18 m10 s18">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="userName" type="email" class="validate">
                        <label for="userName">Email/User Name</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">keyboard</i>
                        <input id="userPassword" type="password" class="validate">
                        <label for="userPassword">Password</label>
                    </div>
                    <div class="row">
                        <div class="col s8 offset-s4">
                            <a id="loginSubmit" class="waves-effect waves-light btn-large"><i
                                    class="material-icons left">spa</i><i class="material-icons right">spa</i>Submit</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="/images/background2.jpg" class="responsive-img" alt="Parallax">
    </div>
</div>

</div>
</div>
</div>
<footer class="#eceff1 blue-grey lighten-5">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">About Us</h5>
                <li class="black-text text-lighten-4"> Project Manager/Back-end Developer Andrew Murray
                <li class="black-text text-lighten-4"> Front-end Developer Maria Jose Riofrio
                <li class="black-text text-lighten-4"> Back-end Developer Christy
                <li class="black-text text-lighten-4"> Developer Zach
                </li>
            </div>

            <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Links</h5>
                <ul>
                    <li><a href="https://atmurray-fullstack.github.io/Andrew-Murray-portfolio/index.html"
                            class="fa fa-github">Andrew</a></li>
                    <li><a class="fa fa-github" href="https://mariariofrio.github.io/mywebsit/">MariaJose</a></li>
                    <li><a class="fa fa-github"
                            href="https://mianmianguo2020.github.io/ChristyG_Professional_Materials/">Christy</a></li>
                    <li><a class="fa fa-github" href="https://github.com/z-riah">Zach</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright-center">
        <div class="container">
            © 2014 Copyright Text
        </div>
    </div>

</footer>

<script src="/js/index.js"></script>