<link rel="stylesheet" href="/CSS/mealplan.css">
<div>
  <nav class="#b0bec5 blue-grey lighten-3">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
      <img class="responsive-img circle" src="/images/logo.jpg" style="height: 55px;">
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/member">Member Page</a></li>
        <li><a class="active" href="/mealplan">Meal Plans</a></li>
        <li><a href="/">Live Chat</a></li>
        <li><a class="logOutButton" href="/">Log out</a></li>
        {{!-- change href later --}}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        {{!-- <li><a href="/register">New User</a></li> --}}
        <li><a class="active" href="/mealplan">Meal Plans</a></li>
        <li><a href="/member">Member Page</a></li>
        <li><a href="/">Live Chat</a></li>
        <li><a class="logOutButton" href="/">Log out</a></li>

      </ul>
    </div>
  </nav>
</div>
<div class="background">
  <div class="container">
    <div>
      <H2 class="center-align">Meal Plans</H2>
      <h3 class="center-align">Recipes</h3>
    </div>
    <div class="row">
      <div class="col 14 m4 s12">
        <div class="card">
          <div class="card-image">
            <img class="responsive-img" src="https://media2.giphy.com/media/STDIKfXiSUaSA/giphy.webp?cid=ecf05e47e036299994c5279c1430f9c5a3fc621c71a98e19&rid=giphy.webp" style="height: 300px" width="200px">
            <span class="card-title">Dessert</span>
          </div>
          <div class="card-content">
            <li>150g salted butter, softened</li>
            <li> 80g light brown muscovado sugar </li>
            <li>80g granulated sugar</li>
            <li>2 tsp vanilla extract</li>
            <li>1 large egg</li>
            <li> 225g plain flour</li>
            <li>½ tsp bicarbonate of soda</li>
            <li> ¼ tsp salt</li>
            <li>200g plain chocolate chips or chunks</li>
          </div>
          <div class="card-action">
            <a href="https://www.bbcgoodfood.com/search/recipes?query=chocolate++chip">This is a link</a>
          </div>
        </div>
      </div>

      <!-- <div class="row"> -->
      <div class="col 14 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="https://media3.giphy.com/media/114ugL1hv5p8He/200w.webp?cid=ecf05e472928963968c69e8d225ef1476e7f17177fb9e13c&rid=200w.webp" style="height: 300px" width="200px">
            <span class="card-title">Pizza</span>
          </div>
          <div class="card-content">
            <li>10g fresh yeast or 7g sachet dried</li>
            <li> ½ tsp sugar</li>
            <li>375g Italian '00' flour, plus extra for dusting</li>
            <li>1 tbsp olive oil, plus extra for greasing</li>
            <li>3 x 125g balls mozzarella, torn</li>
            <li> fresh basil, to server</li>
            <li>3 tbsp olive oil</li>
            <li> 1 onion, chopped</li>
            <li>1 garlic clove, crushed</li>
            <li>2 x 400g cans good-quality Italian chopped tomatoes</li>
          </div>
          <div class="card-action">
            <a href="https://www.bbcgoodfood.com/search/recipes?query=pizza">This is a link</a>
          </div>
        </div>
      </div>

      <!-- <div class="row"> -->
      <div class="col 14 m4 s12">
        <div class="card">
          <div class="card-image">
            <img src="https://media3.giphy.com/media/1zkrF3l0RfgapqdySj/200.webp?cid=ecf05e47b928b5c2bd37d301348ad21b23878b12389a7b86&rid=200.webp" style="height: 300px" width="200px">
            <span class="card-title">Burger</span>
          </div>
          <div class="card-content">
            <li>For the Burgers</li>
            <li>400g lamb mince</li>
            <li>2 tbsp tandoori paste </li>
            <li>1 tsp cumin seeds</li>
            <li> For the Raita</li>
            <li>½ cucumber</li>
            <li>150g pot plain yogurt</li>
            <li>½ small pack mint, leaves chopped</li>
            <li>For the Bhajis</li>
            <li>100g plain flour</li>
            <li>1 tbsp garam masala</li>
            <li>1 tsp bicarbonate of soda</li>
            <li>1 onion, halved and finely sliced</li>
            <li>3 tbsp sunflower oil </li>
            <li>3 burger buns (we used brioche buns), toasted</li>
            <li>a few lettuce leaves</li>
            <li>red onion, thinly sliced</li>
            <li> mango chutney</li>
          </div>
          <div class="card-action">
            <a href="https://www.bbcgoodfood.com/search/recipes?query=burger" >This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="#eceff1 blue-grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">About Us</h5>
          <li class="black-text text-lighten-4"> Project Manager/Back-end Developer Andrew Murray
          <li class="black-text text-lighten-4"> Front-end Developer Maria Jose Riofrio
          <li class="black-text text-lighten-4"> Back-end Developer Christy
          <li class="black-text text-lighten-4"> Developer Zach
          </li>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Links</h5>
          <ul>
            <li><a href="https://atmurray-fullstack.github.io/Andrew-Murray-portfolio/index.html"
                class="fa fa-github">Andrew</a></li>
            <li><a class="fa fa-github" href="https://mariariofrio.github.io/mywebsit/">MariaJose</a></li>
            <li><a class="fa fa-github"
                href="https://mianmianguo2020.github.io/ChristyG_Professional_Materials/">Christy</a></li>
            <li><a class="fa fa-github" href="https://github.com/z-riah">Zach</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright-center">
      <div class="container">
        © 2014 Copyright Text
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="/js/mealplans.js"></script>