<script type="text/javascript" src="/js/member.js"></script>
<div>
    <nav class="#b0bec5 blue-grey lighten-3">
        <div class="nav-wrapper">
            <a href="/"></a><img class="responsive-img circle" src="/assets/logo.jpg" style="height: 65px;"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="active"><a href="/register">New User</a></li>
                <li><a href="/mealplan">Meal Plans</a></li>
                <li><a href="/">Live Chat</a></li>
                <li><a class="logOutButton" href="/">Log out</a></li>
                {{!-- change href later --}}
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li class="active"><a href="/register">New User</a></li>
                <li><a href="/mealplan">Meal Plans</a></li>
                <li><a href="/">Live Chat</a></li>
                <li><a class="logOutButton" href="/">Log out</a></li>


            </ul>
        </div>
    </nav>
</div>
<div class="background">
    {{!-- <div class="section white"> --}}
    <div class="row container">
        <h2 class="header">Meal Plan</h2>
        <p class="grey-text text-darken-3 lighten-3"> Start Planning Your Meals! </p>

    </div>

    <div class="row container">



        <div class="card large col s4">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator"
                    src="https://www.dusttexhonolulu.com/wp-content/uploads/2018/09/hawaiian-food-recipes.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Meal Search<i
                        class="material-icons right">more_vert</i></span>
                <p>Enter the amount you want to spend on a meal and then select either a recipe or a restaurant
                    menu item.</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Meal Search<i
                        class="material-icons right">close</i></span>
                <form class="col s12" action="/api/submitMealPlan" method="POST">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="budget" name="budget" type="text" class="validate">
                            <label for="budget">Meal Budget</label>
                        </div>
                        <div class="input-field col s12">
                            <input type=text id="meal-date" class="datepicker">
                            <label for="meal-date">Date of Meal?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="key-words" name="keywords" type="text">
                            <label for="key-words">Likes?</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action" id="submitInfor">Submit

                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>


        <div class="col s4">
            <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="https://thekitchenrestaurant.com/wp-content/uploads/2014/11/0.0-HOME-PAGE-EW-5971-2560x1200.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" <span>Choose a Meal</span>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Options<i
                            class="material-icons right">close</i></span>

                    <ul class="collapsible">
                        <li>

                            <div class="collapsible-header"><i class="material-icons">filter_drama</i>resturant
                            </div>
                            <div class="collapsible-body"><span>menu1</span><button>save</button></div>
                            <div class="collapsible-body"><span>menu2</span><button>save</button></div>
                            <div class="collapsible-body"><span>menu3</span><button>save</button></div>
                        </li>
                        {{#each restaurants}}
                        <li>
                            <div class="collapsible-header" data-apiKey={{this.apiKey}}><i
                                    class="material-icons">filter_drama</i>{{this.name}}</div>
                            {{#each this.menuItems}}
                            <div class="collapsible-body">
                                <span>{{this.name}}{{this.price}}</span><button>save</button></div>
                            {{/each}}
                        </li>
                        {{/each}}

                    </ul>
                </div>
            </div>
        </div>
        <div class="col s4">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Selected Date</div>

                    <div class="collapsible-body">
                        <ul>
                            <li class=""><span>Pizzae!</span><button>delete</button></li>
                            <li class=""><span>Taco!</span><button>delete</button></li>
                        </ul>
                    </div>

                </li>
            </ul>
            <h6>Weekly Total:</h6>
            <hr>
            <div class="row">
                <i class="col s4 medium material-icons">attach_money</i>
                <div class="col s8">
                    <p class="left-align">99999.00</p>
                </div>
            </div>
        </div>


    </div>
</div>


<footer class="#eceff1 blue-grey lighten-5">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">About Us</h5>
                <li class="black-text text-lighten-4"> Project Manager/Back-end Developer Andrew Murray
                <li class="black-text text-lighten-4"> Front-end Developer Maria Jose Riofrio
                <li class="black-text text-lighten-4"> Back-end Developer Christy
                <li class="black-text text-lighten-4"> Research Developer Zach
                </li>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Links</h5>
                <ul>
                    <li><a href="https://atmurray-fullstack.github.io/Andrew-Murray-portfolio/index.html"
                            class="fa fa-github">Andrew</a></li>
                    <li><a class="fa fa-github" href="https://mariariofrio.github.io/mywebsit/">MariaJose</a></li>
                    <li><a class="fa fa-github"
                            href="https://mianmianguo2020.github.io/ChristyG_Professional_Materials/">Christy</a></li>
                    <li><a class="fa fa-github" href="https://github.com/z-riah">Zach</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright-center">
        <div class="container">
            © 2014 Copyright Text
        </div>
    </div>
</footer>