.background {
background-image: url('/images/chicken.jpg');
background-size: cover;
  height: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 400px) {
    .background { 
        background-image: url('/images/chicken.jpg'); 
   }
}
.container-footer {
    padding-bottom: 2%;
}

.nav-wrapper {
    font-size: 14px;
    font-weight: bold;
    padding-left: 5%;
  }

.header {
    padding-top: 2%;
}

@media (max-width: 600px) {
  .navbar-material .nav-wrapper .brand-logo img {
    height: 56px;
  }
}
.side-nav {
  background-color: #b0bec5;
  padding-top: 5%;
}
