.background {
    background-image: url(food.jpg);
    background-size: 100%;
}
.nav-wrapper {
    font-size: 14px;
    font-weight: bold;
    padding-left: 5%;
  }


form {
    border-style: groove;
    padding: 5%;
}

.container-footer {
    padding-bottom: 2%;
}